aiogram==3.22.0
arcade==3.3.2
Flask==3.1.2
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
matplotlib==3.10.5
mrjob==0.7.4
numpy==2.3.2
openpyxl==3.1.5
pandas==2.3.1
pillow==11.0.0
plotly==6.3.0
pymorphy3==2.0.4
pymorphy3-dicts-ru==2.4.417150.4580142
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
PyQtWebEngine==5.15.7
pytest==8.4.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
python-pptx==1.0.2
python-telegram-bot==22.3
requests==2.32.5
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
SQLAlchemy==2.0.43
uvicorn==0.35.0
xlrd==2.0.2
xlsxwriter==3.2.5
